@page
@model SujithAshok_ToDoApp.Pages.CopyTaskModel
@{
}

@*<p class="heading">Use the forms below for programmatic clipboard access or invoke standard copy/cut/paste operations with your keyboard.</p>
<section>
    <label><input type="radio" name="api" value="sync"> Use older, synchronous API</label><br />
    <label><input type="radio" name="api" value="async" checked> Use newer, asynchronous API</label>
</section>
<section>
    <h2>Cut/Paste Example</h2>
    <p>
        <textarea class="js-cuttextarea">Hello! Cut me programatically or maybe try pasting here.</textarea>
    </p>

    <p>
        <button class="js-textareacutbtn">Cut text programatically</button>
        <button class="js-textareapastebtn">Paste text programatically</button>
    </p>
</section>

<dialog id="askForNotification">
    <h1>Get notified</h1>
    <p>There are lots of nice reasons to be notified of our products. We will not spam you!</p>
    <input type="button" value="Dont Copy" id="DontCopy" />
    <input type="button" value="Ye Copy!" id="yesNotify" />
</dialog>*@


