@page
@model SujithAshok_ToDoApp.Pages.TasksModel
@{
    ViewData["Title"] = "Tasks";
}

<div class="text-center">
    <h1>Tasks</h1>

    <input id="OffBtn" type="button" value="Offline Mode">

    <p>Current connection status: <b id="status">unknown</b>.</p>

    <div id="target"></div>
    <br />
    <br />
    <p> <a href="/Index"> <input type="button" value="Home"> </a>  </p>
</div>
    <p>

    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    User Email
                </th>
                <th>
                    Title
                </th>
                <th>
                    Done
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.TaskView)
            {
            <tr>
                <td>
                    @item.UserEmail
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Done)
                </td>
                
                <td>
                    
                    <form asp-action="post">
                        <input id="done" type="hidden" name="ItemID" value="@item.itemID" />
                        @if (item.Done)
                        {
                            <button>Undo</button>
                        }
                        else
                        {
                            <button>Complete</button>
                        }

                    </form>
                  

                </td>

            </tr>
            }
        </tbody>
    </table>
