@page
@model SujithAshok_ToDoApp.Pages.TasksModel
@{
    ViewData["Title"] = "Tasks";
}

<h1>Tasks</h1>

<p>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User Email
            </th>
            <th>
                Title
            </th>
            <th>
                Done
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.TaskView)
        {
            <tr>
                <td>
                    @item.UserEmail
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Done)*@
                    <form asp-action="post">
                        <input type="hidden" name="ItemID" value="@item.itemID" />
                        <button>Complete</button>
                    </form>
                </td>
               
            </tr>
        }
    </tbody>
</table>